.box-set {
    position: relative;
}

.menu-left{
    top: 0%;
    left: 25%;
}

img-border{
    border: 5px solid rgb(129, 126, 126);
  }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }